* {box-sizing:border-box}

.main-container{
    display: grid;
    margin-left: 30%;
    grid-template-columns: 100%;
    grid-template-rows: 550px 1800px;
    grid-gap: 10px;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 200px;
}

.product-grid-container {
    display:grid;
    gap: 5px;
    padding: 10px;
    border-style:none;
    float:left;
}


.product-bottom-container{
  margin-right: 60px;
}

.payment{
  margin-top: 50px;
}

.prodgridgrid-container{
  margin-left:500px;
}

.prodgridgrid-container button{
  margin-left:15px;
}


hr{
  background: linear-gradient(to right, red, yellow);
  height: 5px;
  margin-bottom: 20px;
}

p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.show_hideImage{
  display:none;
}

h2{
  margin-top: 40px;
}
.product-bottom-container ul{
  margin:50px;
}

.product-bottom-container ul li{
  margin: 10px;
}

.req_container{
  min-height: 40vh;
}

.min-req{
  float: left;
  margin-right: 50px;
  min-height: 40vh;
}



.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 10 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  border-style: none;
}

.slideshow-container img {
  vertical-align: middle;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.product-image {
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .product-image:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}





@media only screen and (max-width:1278px) {
  .main-container{
    margin-bottom: 700px
  }
  .min-req{
    float: none;
    margin-right: 50px;
    min-height: 40vh;
  }


  .product-grid-container{
    float:none;
  }
  .prodgridgrid-container{
    margin-left:0px;
  }
 
  .product-bottom-container{
    padding:350px 0 ;
  }
}

@media only screen and (max-width:1012px) {

  #image{
    margin-left:200px;
    margin-top:-40px;
  }
  
  .main-container{
    margin-bottom: 800px
  }
  .min-req{
    float: none;
    margin-right: 50px;
    min-height: 40vh;
  }
  .product-grid-container{
    float:none;
  }
  .prodgridgrid-container{
    margin-left:0px;
  }
 
  .product-bottom-container{
    padding:300px 0 ;
  }
}

@media only screen and (max-width:948px){


  .product-top-container{
    left: -90px;
  }

  .product-bottom-container{
    margin-left:-200px;
    width: 100%;
  }
  
}

@media only screen and (max-width:820px){
  .mySlides img{
    width:300px;
     height:300px;
  }

  .product-bottom-container {
    margin-left:-200px;
  }

 .product-bottom-container iframe{
   width: 450px;
   height: 250px;
 }


}



@media only screen and (max-width:764px){
  .product-top-container{

    left: -90px;
  }
  .product-bottom-container{

    left: -150px;
    width: 100%;
  }

  .main-container{
    margin-bottom: 1500px;
  }
  
}


@media only screen and (max-width:648px){

  #image{
    margin-left:150px;
    margin-top:-40px;
  }
  
  .product-bottom-container{
    margin-left: -100px;
    width: 100%;

  }
  
  .main-container{
    margin-bottom: 1200px
  }
}


@media only screen and (max-width:581px){
  .main-container{
    margin-bottom: 1300px
  }

  .product-top-container{
    margin-left:-70px;
  }
  
  .product-grid-container{
    left: 0px;
  }

  .mySlides img{
    width:350px;
     height:350px;
  }

  .product-bottom-container{
    left: -150px;
    width: 100%;
  }

}


@media only screen and (max-width:542px){


  .main-container{
    padding-bottom:200px;
  }
 
}

@media only screen and (max-width:512px){
  .main-container{
    margin-bottom: 1400px;
  }

  .product-grid-container{
    left: -10px;
  }

  .mySlides img{
    width:250px;
     height:250px;
  }

  .product-top-container{
    margin-left:-100px;
  }

  .product-bottom-container{
    left:-100px;
    width: 100%;
  }

  .product-bottom-container li {
    width: 300px;
    left: 100px;
  }

  .product-bottom-container iframe{
    width: 320px;
    height: 250px;
  }

  .main-container{
    padding-bottom:200px;
  }
 
}
